.venv/
__pycache__/
*.pyc

.env
.env.local
*.env

mlruns/
mlflow.db

data/raw/
*.zip

interface/node_modules/
interface/.next/
interface/.env.local
interface/tsconfig.tsbuildinfo

dashboard/node_modules/
dashboard/.next/